.ipynb_checkpoints*
01_fundamentos/.ipynb_checkpoints*
02_orientacao_objetos/.ipynb_checkpoints*
03_automacao_sistemas/.ipynb_checkpoints*
04_ciencia_computacional/.ipynb_checkpoints*
05_boas_praticas/.ipynb_checkpoints*
06_projetos/.ipynb_checkpoints*
07_recursos_adicionais/.ipynb_checkpoints*
01_fundamentos/__pycache__*